// font : Lobster
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background: #eee;
.inner {
	width: 1180px;
	height: 100%;
	padding: 100px;
	margin: 0 auto;
	#login__page {
		width: 500px;
		height: 100%;
        margin: 0 auto;
		padding: 100px;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		border: 1px solid #ccc;
        background: #fff;
		.logo__text {
			width: 100%;
			height: 100%;
			margin-bottom: 50px;
			text-align: center;
			a {
				font: 50px Lobster;
                color: #000;
			}
		}
		.input__box {
			width: 100%;
			input[type='text'] {
				margin: 0 auto;
				margin-bottom: 10px;
				padding-left: 10px;
				display: block;
				width: 300px;
				height: 40px;
				border: 1px solid #ddd;
                border-radius: 5px;
				background: rgb(247, 247, 247);
			}
			input[type='password'] {
				margin: 0 auto;
				margin-bottom: 20px;
				padding-left: 10px;
				display: block;
				width: 300px;
				height: 40px;
				border: 1px solid #ddd;
                border-radius: 5px;
				background: rgb(247, 247, 247);
			}
		}
		.login__btn {
			button{
				margin: 0 auto;
				width: 300px;
				height: 40px;
				border: 1px solid #fff;
                border-radius: 5px;
				background: rgb(88, 168, 254);
				opacity: 1;
				color: #fff;
				font: bold 20px 'apple';
				// cursor: pointer;
				&:disabled{
					opacity: 0.5;
				}
			}
		}
		.pws__lost {
			width: 100%;
            margin-top: 100px;
            text-align: center;
			a {
				text-align: center;
				font: 15px 'apple';
                color: navy;
			}
		}
	}
}
}