body {
  background-color: rgb(250, 250, 250);
}

.login-container {
  width: 350px;
  height: 375px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
}

.container-center {
  height: 100%;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 30px 40px 30px;
  /* border: 1px solid black; */
}

.logo-text {
  font-family: "Lobster", cursive;
  font-size: 48px;
}

.form-wrapper {
  /* border: 1px solid rgb(0, 0, 0); */
  height: 160px;
}

/* 정중앙을 이동시킴 */
.form-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 인풋 크기 및 여백 조절 */
.input-wrapper {
  border: 1px solid lightgray;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 7px;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
}

/* 테두리 안보이게 함 */
.login-input {
  border: none;
  width: 100%;
  margin: 10px;
  background-color: rgb(250, 250, 250);
  font-size: 12px;
}

/* 클릭했을때 테두리 안나오게 함 */
.login-input:focus {
  outline: none;
}

.button-wrapper {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 7px;
}

.login-button {
  margin-top: 5px;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: 5px;
  background-color: #b2dffc;
  border-radius: 5px;
  border: none;
  cursor: not-allowed;
}

.serparationWrapper {
  border: 1px solid rgb(0, 0, 0);
}

.leftHr {
  float: left;
  width: 90px;
  box-sizing: border-box;
  margin-left: 40px;
}

.or {
  display: inline-block;
  width: 80px;
  box-sizing: border-box;
  color: #999999;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  padding-bottom: px;
}

.rightHr {
  float: right;
  width: 90px;
  margin-right: 40px;
}

.extra-wrapper {
  height: 10px;
  /* border: 1px solid black; */
  padding-top: 50px;
  padding-bottom: 5px;
  font-size: 11px;
}

.find-password {
  color: rgb(56, 81, 133);
}
