h1 {
  font-family: "Lobster", cursive;
}

.container {
  border: 1px solid black;
  width: 500px;
  height: 600px;
}

.maintitle {
  margin-left: 50px;
  font-size: 30px;
}
.box {
  padding: 30px;
}

.id {
  width: 300px;
  height: 30px;
}

.password {
  width: 300px;
  height: 30px;
}

.login {
  width: 300px;
  height: 30px;
  background-color: #2472c1;
  border-radius: 4px;
}

.forget {
  font-size: 12px;
  line-height: 16px;
  margin-top: 12px;
}
